@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

.inputContainer{
  position: relative;
  margin: 1.5rem 0;
}

.inputkm {
    width: 55px;
    height: 24px;
    border-color: transparent;
    background: rgba(31, 32, 65, 0.05);
    font-family: Montserrat;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    /* Dark 25% */
    color: rgba(31, 32, 65, 0.75);
  }
  
  .inputkm:focus{
    outline: 0;
    background: rgba(83, 85, 128, 0.25);
  }
  
  .inputkm::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
  }

  .input_form {
    width: 320px;
    height: 44px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-flex;
    padding-left: 1rem; 
  }
  
  .input_form::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
  }

  .input_form:focus {
    outline: 0;
    box-shadow: 0 0 0 1px rgba(83, 85, 128, 0.25);
  }

  .unidade{
    position: absolute;
    top: 47%;
    right: 16%;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.45);
  }