@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

.section{
    font-family: 'Montserrat';
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.veiculoContainer{
    margin-top: 15px;
}

.img{
    height: 100px;
    object-fit: contain;
}

.img{
    object-fit: contain;
}

.itemContainer{
    display: flex;
}

.subtitle{
    font-family: 'Montserrat';
    color: rgba(31, 32, 65, 0.75);
    font-weight: 600;
    font-size: 13px;
    margin: 0;
    margin-right: 10px;
}

.text{
    font-family: 'Montserrat';
    color: rgba(31, 32, 65, 0.75);
    font-weight: 500;
    margin: 0;
    font-size: 13px;
}