.title{
    color: #1F2041;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.result{
    font-size: 3rem;
    color: #6FCF97;
    margin: 1.5rem 0;
}

.text{
    margin: 1rem 2rem 3rem 2rem;
    font-size: .95rem;
    color: rgba(31, 32, 65, 0.75)
}

.infoContainer{
    width: 50%;
    text-align: left;
    padding: 1rem 2rem;
    color: rgba(31, 32, 65, 0.75)
}

.subtitle{
    font-size: 1rem;
    font-weight: 600;
    margin: 1.3rem 0 0 0;
}

.info{
    margin: 0;
}

.image{
    position: absolute;
    bottom: 0;
    right: 0;
}