@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
.Card{
    font-family: Monteserrat, sans-serif;
    font-weight: bold;
    left: 120px;
    top: 490px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    /*margin: 0px 50px 40px 50px;*/
    width: 450px;
    height: 300px;
    
}
.Card:hover{
    box-shadow: 1px 1px 10px 1px rgb(216, 212, 212);
   } 