.PrimeiraFila{
    display: flex;
}
   

.SegundaFila{
    display: flex;
    width: 350px;
    height: 300px;
}


.Curiosidade{
    width: 900px;
    text-decoration: none;
    color: black;

}
.Curiosidade:hover{
    color: black;
}

.CardLateral{
    width: 450px;
}
.Link{
    text-decoration: none;
    color: black;
}
.Link:hover{
    color: black;
}