.PrimeiraFila{
    display: flex;
}
   

.SegundaFila{
    display: flex
}


.Curiosidade{
    width: 900px;
    text-decoration: none;
    color: black;

}
.Curiosidade:hover{
    color: black;
}

.CardLateral{
    width: 450px;
}